.App {
  text-align: center;
  margin: 1%;
}

span {
  font-weight: bold;
}

.login-form {
  width: 100%;
  height: 100%;
  max-width: 390px;
  padding: 15px;
  margin: 0 auto;
}

.register-form {
  width: 100%;
  height: 100%;
  max-width: 390px;
  padding: 15px;
  margin: 0 auto;
}

.login-component {
  margin: 15vh;
}

.register-component {
  margin: 15vh;
}

.piano-container {
  position: relative;
  text-align: center;
  margin: 5%;
}

.piano-pic {
  width: 50vw;
}

.piano-keys {
  background-color: transparent;
  border: none;
  position: absolute;
}

.piano-keys:nth-of-type(1) {
  left: 62%;
  bottom: 0%;
  padding: 6% 3.5%;
  border: 1px solid red;
}
.piano-keys:nth-of-type(2) {
  left: 68%;
  bottom: 42.6%;
  padding: 8.7% 1%;
  color: white;
  border: 1px solid red;
}
.piano-keys:nth-of-type(3) {
  left: 70.1%;
  bottom: 0%;
  padding: 6% 3.5%;
  border: 1px solid red;
}
.piano-keys:nth-of-type(4) {
  left: 21.6%;
  bottom: 0%;
  padding: 6% 3.5%;
  border: 1px solid red;
}
.piano-keys:nth-of-type(5) {
  left: 27.8%;
  padding: 8.7% 0.9%;
  color: white;
  border: 1px solid red;
}
.piano-keys:nth-of-type(6) {
  left: 29.6%;
  bottom: 0%;
  padding: 6% 3.5%;
  border: 1px solid red;
}
.piano-keys:nth-of-type(7) {
  left: 35.7%;
  padding: 8.7% 0.9%;
  color: white;
  border: 1px solid red;
}
.piano-keys:nth-of-type(8) {
  left: 38%;
  bottom: 0%;
  padding: 6% 3.5%;
  border: 1px solid red;
}
.piano-keys:nth-of-type(9) {
  left: 46%;
  bottom: 0%;
  padding: 6% 3.5%;
  border: 1px solid red;
}
.piano-keys:nth-of-type(10) {
  left: 52%;
  padding: 8.7% 1%;
  color: white;
  border: 1px solid red;
}
.piano-keys:nth-of-type(11) {
  left: 54%;
  bottom: 0%;
  padding: 6% 3.3%;
  border: 1px solid red;
}
.piano-keys:nth-of-type(12) {
  left: 60%;
  padding: 8.7% 0.9%;
  color: white;
  border: 1px solid red;
}